body{
    /* --------------------------
        screen background color
    -------------------------- */
    background-color: rgb(245, 236, 236);
   
    /* ---------------
           font
    ------------------ */
    font-family: 'Poppins', sans-serif;
    color: rgb(67, 62, 62);

}
header{
    font-size: 17px;
}
body main h1{
    font-size: 52px;
    font-weight: 72px;
}
/* ---------------
   first section
----------------- */
.first-section{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    
}
.button{
    height: 50px;
    width: 200px;
    background-color: #E02C6D;
    border-radius: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;

}
.button a{
    text-decoration: none;
    color: white;
}
.camera{
    width: 440px;
    height: 414px;
}
.lines{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.line{
    width: 800px;
    height: 1px;
    background-color: rgb(185, 172, 172);
    
   
}
/* ----------------
 second section
---------------- */
.second-section{
    margin-top: 200px;
}

.container{
    display: flex;
   justify-content: center;
   margin-top: 70px;

    
}
#second-section-title{
    text-align: center;
}
.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 30px;
    
    
   
  
} 
.article{
    border-radius: 10px;
    box-shadow: lightgray 5px;
    width: 329px;
    height: 500px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px;

    
}
.product{
    color: black;
}
.price{
    margin-top: 0;
    font-size: 30px;
}

/* -----------------
     third section
------------------- */



/* -----------------
     fourth section
------------------- */
.fourth-section{
    background-color: rgb(18, 18, 49);
    height: 200px;
    padding: 0%;
}
.copyright{
    text-align: center;
    padding-top: 30px;
}